#account-details {

    .container {

        @include lg {
            display: flex;
            gap: 10rem;
        }

        .main-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 60px;

            @include lg {
                min-width: 200px;
            }

            .images {
                position: relative;

                .refresh-icon {
                    position: absolute;
                    top: 65%;
                    left: 60%;
                }

                .profile-img {
                    z-index: 1; 
                }

                .refresh-icon {
                    z-index: 2;
                }
            }

            .buttons {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .btn {
                    display: flex;
                    justify-content: stretch;
                }
            }
        }

        form {

            h5 {
                color: $theme;
                
            }

            .address::before {
                content: '';
                display: block;
                height: 0.3px;
                background-color: $gray-300;
                margin-bottom: 40px;
            }

            .submit-buttons {
                display: flex;
                gap: 1rem;
                margin: 2rem;
            }
        }    
    }
}