#app-section {
    background-color: $gray-100;
    display: flex;
    flex-direction: column;
    
    .container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 60px;
        margin-bottom: 60px;

        @include lg {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .app-content {
            
            .flex-box {
                display: flex;
                flex-direction: row;
                padding-top: 60px;
                gap: 50px;
                align-items: end;

                p {
                    margin: 0;
                }   
            }
        }
    }
}