// #app-section {
//     background-color: $gray-100;
//     display: flex;
//     flex-direction: column;
    
//     .container {
//         display: flex;
//         flex-direction: column;
//         gap: 50px;
//         margin-top: 60px;
//         margin-bottom: 60px;

//         @include lg {
//             display: flex;
//             flex-direction: row;
//             justify-content: space-between;
//         }

//         .app-content {
            
//             .flex-box {
//                 display: flex;
//                 flex-direction: row;
//                 padding-top: 60px;
//                 gap: 50px;
//                 align-items: end;

//                 p {
//                     margin: 0;
//                 }   
//             }
//         }
//     }
// }

.our-app {
    padding: 5rem 0;
    background-color: $gray-100;
 
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        @include lg {
            flex-direction: row;
            justify-content: space-around;
            gap: 0px;
        }
 
        .phones {
            max-width: 60%;
            align-self: center;
        }
 
        .content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 1rem;
 
            @include sm {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
            }
 
            @include lg {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-between;
            }
 
            h1 {
                @include h2;
                width: 100%;
                padding: .5rem 0;
                text-align: center;
                text-wrap: pretty;
 
                @include lg {
                    @include h1;
                    text-align: start;
                }
            }

            .app {
                display: grid;
                grid-template-columns: 2fr;
                align-items: end;
                padding: 1rem 0;
  
                .rating {
                    margin: 0;
                }

                @include sm {
                    grid-template-columns: 2fr;
                }
             
                @include md {
                    grid-template-columns: 2fr;
                }
             
                @include lg {
                    grid-template-columns: 2fr auto;
                }
             
                .app-img {
                    padding-top: 1rem;
                }
                // @include sm {
                //     grid-template-columns: 2fr auto;
                // }
                // @include lg {
                //     grid-template-columns: 1fr auto;
                // }
            }
        }
    }
}
 
 
