#subscribe {
    background-color: $gray-100;
    margin-top: 80px;

    .container {
        padding: 60px;
        position: relative;
        
        @include lg {
            padding: 60px 200px 0 200px;;
        }

        img {
            position: absolute;
            right: 31%;
            top: 25%;

            @include lg {
                position: absolute;
                right: 31%;
                top: 18%;
            }

        }

        .grid-box {
            display: grid;
            flex-grow: 1;
            align-items: center;
            grid-template-columns: repeat(4, 1fr);
            padding-top: 40px;
            padding-bottom: 40px;
            gap: 10px;

            h5 {
                grid-area: 1/1/1/5;

                @include lg {
                    grid-area: 1/1/3/2;
                }
            }

           input {
            margin-right: 10px;
           }
        }

        .subscribe-here {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            input {
                flex: 1;
                margin-right: 10px;

                border: 1px solid $gray-500;
                color: $gray-500;
                padding: 5px 20px;
                font-weight: 600;
                font-size: 16px;
                border-radius: 10px;
                
            }
        }
    }
}