#subscribe {
    background-color: $gray-100;
    margin-top: 80px;

    .container {
        padding-top: 60px;

        .grid-box {
            display: grid;
            flex-grow: 1;
            align-items: center;
            grid-template-columns: repeat(4, 1fr);
            padding-top: 40px;
            padding-bottom: 40px;
            gap: 10px;

            h5 {
                grid-area: 1/1/3/2;
            }

           input {
            margin-right: 10px;
           }

            @include lg {
  
            }
        }

        .subscribe-here {
            display: flex;
            align-items: center;
            justify-content: center;

            .input {
                flex: 1;
                margin-right: 10px;
                
            }
            // flex-wrap: wrap;

            // input {
            //     flex: 1;
            // }

        }
    }
}